/*
Flask CSS
*/

/* html page font styling */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/* centralising the image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* centralise the page's main heading */
h1 {
    text-align: center;
    top: auto;
    color: green;
}

/* layout styling of the 'body' of the page */
.apple {
    text-align: left ;
    padding-left: 100px;
    padding-right: 100px;
}

/* search box styling */
.search-box {
    width: 300px;
    border: solid 1px black;
    background-color: rgb(235, 232, 232);
}

/* search button coloured */
.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}

/* coloured the RECIPES link */
.recipes-link {
    color: green;
}
