<!-- HTML with Jinja2 templates for Python -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>🍏FoodFlask</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- link to pureCSS.io -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-G9DpmGxRIF6tpgbrkZVcZDeIomEU22LgTguPAI739bbKytjPE/kHTK5YxjJAAEXC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
    </head>
    <body class="apple">
        <h1>Python Recipe Search App</h1>

        <img class="pure-img" src="./static/circle-python.png" alt="green tree python" width="250"><br>
        <p>
            This <a href="https://codefirstgirls.org.uk/learners/coding-kickstarter/" target="_blank"><strong>Code First Girls:</strong></a> Team 'Apple' Project (April 2021)
            runs a programme written in
            <a href="https://www.python.org/" target="_blank"><strong>Python</strong></a>,
            to search online for recipes based on an ingredient, cuisine origin and maximum time.
            It uses the <a href="https://developer.edamam.com/edamam-docs-recipe-api" target="_blank"><strong>Edamam Recipe API</strong></a>
             to get a dataset of up to ten recipe web links for the user to inspect,
            which will open up automatically in separate web browser tabs.
            A table in the form of a CSV file, created by the Python library
            <a href="https://pandas.pydata.org/" target="_blank"><strong>Pandas</strong></a>,
            is saved on the user's device for future reference, and then shown on the recipes.html webpage.<br>
            Note: the CSV file is overwritten on each run of the search and a new recipes.html is created.
        </p>

        <!-- Form that links to app.py. User inputs their search details here and it is POSTed to app.py -->
        <div>
            <p>
                <strong>The Search</strong><br>
                Please enter your choices below, then click the 'Search' button.
            </p>

            <form class="pure-form pure-form-stacked" method="POST" action="/">
                Ingredient (one word, <20 letters):<br>
                <!-- Restricting users to input a single word up to 20 letters long -->
                <input type="text" pattern="[A-Za-z]{1,20}" class="pure-input" placeholder="avocado" name="userfood" required/><br><br>
                <!--
                Cuisine type with 'American' as default
                -->
                Cuisine origin:<br>
                <select id="usercuisine" name="usercuisine" required>
                    <option>American</option>
                    <option>Asian</option>
                    <option>British</option>
                    <option>Caribbean</option>
                    <option>Central Europe</option>
                    <option>Chinese</option>
                    <option>Eastern Europe</option>
                    <option>French</option>
                    <option>Indian</option>
                    <option>Italian</option>
                    <option>Japanese</option>
                    <option>Kosher</option>
                    <option>Mediterranean</option>
                    <option>Mexican</option>
                    <option>Middle Eastern</option>
                    <option>Nordic</option>
                </select>
                <br><br>
                Maximum preparation & cooking time:<br>
                <input type="number" min="1" class="pure-input" placeholder="10" name="usertime"  value="10"/> minutes
                <br><br>
                <button type="submit" class="pure-button-primary">Search</button>
            </form>
        </div>

        <!-- Jinja2 allows us to insert Python code with curly braces & percent signs
        So, *do NOT* use these, even in comments, as they will be seen
        & cause the dreaded Internal Server Error!-->

        <div>
            <!-- checking if food 'ingredient' input exists -->
            {% if ingredient and max_time %}
                <p>
                    Search completed!!! You would like <strong>{{cuisine}}</strong> recipes containing <strong>{{ingredient}}</strong>
                    to take <strong>{{max_time}}</strong> minutes.<br>
                    Please go to the saved table 'recipe-search.csv' on your device or the
                    <a href="{{ url_for('recipes_html') }}" target="_blank"><strong>RECIPES</strong></a>
                     webpage to see the results. Enjoy your cooking!!!
                </p>
                <!--
                'ingredient' in double curly braces is substituting in the user's food choice from the python app.
                The href link in double curly braces creates an url linking to pandas generated recipes html page,
                by calling the Python function recipes_html in the app.
                -->
            {% endif %}
        </div>

        <p>
            Features created by this Python programme are rendered here on this webpage by the Python library,
            <a href="https://www.udemy.com/course/python-flask-for-beginners/" target="_blank"><strong>Flask</strong></a> and via
            <a href="https://palletsprojects.com/" target="_blank"><strong>Jinaj2</strong></a> templates.
            <a href="https://purecss.io/" target="_blank"><strong>Pure.CSS</strong></a> is ridiculously tiny and used to style this page.
            The entire set of modules clocks in at 3.7KB minified and gzipped.
            Crafted with mobile devices in mind it was important to keep the file sizes small, and every line of CSS was carefully considered.
            Pure builds on Normalize.css and provides layout and styling for native HTML elements, plus the most common UI components.
            Pure is responsive out of the box, so elements look great on all screen sizes.
        </p>
        <hr>
        <p>
            <strong>Meet Team 'Apple':</strong><br>
            <a href="https://www.linkedin.com/in/aleksandra-kulawska-309699122/" target="_blank"><strong>Aleksandra Kulawska</strong></a><br>
            <a href="https://www.linkedin.com/in/angelaytchan/" target="_blank"><strong>Angela Chan</strong></a><br>
            <a href="https://www.linkedin.com/in/janetdornan/" target="_blank"><strong>Janet Dornan</strong></a><br>
        </p>
        <p>
            A huge thank you to our wonderful, supporting, inspiring instructors:<br>
            <a href="https://www.linkedin.com/in/deanna-green-63a412126/" target="_blank"><strong>Deanna Green</strong></a><br>
            <a href="https://www.linkedin.com/in/rabia-mahmood-9babb513b/" target="_blank"><strong>Rabia Mahmood</strong></a><br>
            <a href="https://www.linkedin.com/in/ellen-wootten-8a5796100/" target="_blank"><strong>Ellen Wootten</strong></a><br>
            <br>
            and also to
            <a href="https://unsplash.com/@davidclode" target="_blank"><strong>David Clode</strong></a> for his photograph of
            a rare green tree python.
            <br><br>
        </p>

    </body>
</html>